.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background: var(--modal-background);
  padding: 1.5rem;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-title {
  color: var(--modal-title-color);
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
}

.modal label {
  color: var(--modal-title-color);
}

.modal input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid var(--modal-input-border);
  border-radius: 5px;
}

.search-container {
  position: relative;
}

.suggestions {
  position: absolute;
  background: var(--modal-suggestion-background);
  border: 1px solid var(--modal-suggestion-border);
  border-radius: 5px;
  width: 100%;
  max-height: 225px;
  overflow-y: auto;
  z-index: 1;
  margin-top: -10px;
  color: var(--modal-suggestion-text);
  display: none;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.suggestion:hover {
  background-color: var(--modal-suggestion-hover);
}

span.suggestion-location {
  flex-grow: 1;
  pointer-events: none;
}

/* Largura da barra de rolagem */
.suggestions::-webkit-scrollbar {
  width: 8px;
}

/* Cor do fundo da barra de rolagem */
.suggestions::-webkit-scrollbar-track {
  background: var(--modal-suggestion-scrollbar-track);
}

/* Cor da barra de rolagem */
.suggestions::-webkit-scrollbar-thumb {
  background: var(--modal-suggestion-scrollbar-thumb);
  border-radius: 8px;
}

/* Cor da barra de rolagem ao passar o mouse */
.suggestions::-webkit-scrollbar-thumb:hover {
  background: var(--modal-suggestion-scrollbar-thumb-hover);
}

.suggestions .loading {
  display: flex;
  justify-content: center;
  padding: 1rem;
  pointer-events: none;
}

.suggestions .spinner {
  fill: black;
  animation: spin 1s linear infinite;
  pointer-events: none;
}

.modal-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 560px) {
  .modal-actions {
    flex-direction: column;
  }
}

.btn {
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s;
}

.btn-primary {
  background-color: var(--modal-button-background);
  color: var(--modal-button-text);
  border-color: var(--modal-button-background);
}

.btn-primary:hover {
  background-color: var(--modal-button-hover);
  border-color: var(--modal-button-hover);
}

.btn-secondary {
  background-color: transparent;
  color: var(--modal-button-background);
  border-color: var(--modal-button-background);
}

.btn-secondary:hover {
  background-color: var(--modal-button-background-light);
  border-color: var(--modal-button-background);
}
