* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

body.day {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: #2c3e50;
}

body.night {
  background: linear-gradient(120deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
  color: #ecf0f1;
}

/* TODO: ajustar */
.day .refresh-button svg {
  fill: black;
}

.night .refresh-button svg {
  fill: white;
}

.container {
  background: #fff3;
  border-radius: 20px;
  box-shadow: 0 8px 32px #1f202e5e;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.refresh-button,
.pin-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  border-radius: 50%;
}

/* TODO: ajustar */
.refresh-button:hover,
.pin-button:hover {
  background: rgb(83 83 83 / 10%);
}

/* TODO: ajustar */
.refresh-button svg,
.pin-button svg {
  fill: #2c3e50;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.refresh-button.updating {
  animation: spin 1s linear infinite;
  pointer-events: none;
}

.weather-icon {
  font-size: 4rem;
}

.location {
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 70%;
}

.temperature {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.detail-item {
  padding: 0.5rem;
  background: hsl(0deg 0% 100% / 10%);
  border-radius: 10px;
  box-shadow: 1px 1px 0px 0px rgb(0 0 0 / 4%);
}
