:root {
  --background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  --text-color: #2c3e50;
  --icon-color: #2c3e50;
  --background-hover: rgb(83 83 83 / 10%);
  --container-background: rgb(255 255 255 / 20%);
  --container-shadow: rgb(31 32 46 / 35%);
  --detail-background: rgb(255 255 255 / 10%);

  /* Modal */
  --modal-overlay: rgb(0 0 0 / 50%);
  --modal-background: #fff;
  --modal-title-color: #000;
  --modal-button-background: #007bff;
  --modal-button-background-light: rgb(0 123 255 / 10%);
  --modal-button-text: #fff;
  --modal-button-hover: #0056b3;
  --modal-input-border: #ccc;

  --modal-suggestion-background: #fff;
  --modal-suggestion-text: #000;
  --modal-suggestion-border: #ccc;
  --modal-suggestion-hover: #f4f4f4;
  --modal-suggestion-scrollbar-track: #f1f1f1;
  --modal-suggestion-scrollbar-thumb: #888;
  --modal-suggestion-scrollbar-thumb-hover: #555;
}

[data-theme='night'] {
  --background: linear-gradient(120deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
  --text-color: #ecf0f1;
  --icon-color: #f3f3f3;
  --background-hover: rgb(255 255 255 / 10%);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--background);
  color: var(--text-color);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.refresh-button svg,
.pin-button svg {
  fill: var(--icon-color);
  transition: fill 0.3s ease;
}

.refresh-button:hover,
.pin-button:hover {
  background: var(--background-hover);
  transition: background 0.2s ease;
}

.container {
  background: var(--container-background);
  border-radius: 20px;
  box-shadow: 0 8px 32px var(--container-shadow);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.refresh-button,
.pin-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  border-radius: 50%;
  min-width: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.refresh-button.updating {
  animation: spin 1s linear infinite;
  pointer-events: none;
}

.weather-icon {
  font-size: 4rem;
}

.location {
  font-size: 1.5rem;
  font-weight: 600;
}

.temperature {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.detail-item {
  padding: 0.5rem;
  background: var(--detail-background);
  border-radius: 10px;
  box-shadow: 1px 1px 0px 0px rgb(0 0 0 / 4%);
}
